# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=YOUR_KEY
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=promptselz.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=promptselz
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=promptselz.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=129069832755
NEXT_PUBLIC_FIREBASE_APP_ID=1:129069832755:web:6986b5e52fb9357e2b2146
